In [66]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [67]:
train = pd.read_csv("/Users/navamongkoltongta/.kaggle/Titanic/train_data.csv")
test = pd.read_csv("/Users/navamongkoltongta/.kaggle/Titanic/test_data.csv")

In [68]:
train.drop(columns=['Unnamed: 0','PassengerId'], inplace=True)

In [69]:
train.columns

Index(['Survived', 'Sex', 'Age', 'Fare', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'Family_size', 'Title_1', 'Title_2', 'Title_3', 'Title_4', 'Emb_1',
       'Emb_2', 'Emb_3'],
      dtype='object')

In [70]:
X = train[['Sex', 'Age', 'Fare', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'Family_size', 'Title_1', 'Title_2', 'Title_3', 'Title_4', 'Emb_1',
       'Emb_2', 'Emb_3']]
y = train[['Survived']]

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [72]:
model = RandomForestClassifier().fit(X_train, y_train)

<ipython-input-72-b8dd8a23a72f>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = RandomForestClassifier().fit(X_train, y_train)

In [73]:
print("For Random Forest model:")
print("Train set accuracy = " + str(model.score(X_train, y_train)))
print("Test set accuracy = " + str(model.score(X_test, y_test)))
print("\nImportance of each feature:\n", model.feature_importances_)

For Random Forest model:
Train set accuracy = 0.9891696750902527
Test set accuracy = 0.7983193277310925

Importance of each feature:
 [0.20683794 0.21917344 0.24689797 0.02484215 0.01643737 0.04571028
 0.07445378 0.0591917  0.00109405 0.00864049 0.04860482 0.01761527
 0.01234386 0.01815688]

In [74]:
X_selected = train.iloc[:,[1,2,3]]

In [75]:
X_selected

     Sex     Age      Fare
0      1  0.2750  0.014151
1      0  0.4750  0.139136
2      0  0.3250  0.015469
3      0  0.4375  0.103644
4      1  0.4375  0.015713
..   ...     ...       ...
787    1  0.1000  0.056848
788    1  0.0125  0.040160
789    1  0.5750  0.154588
790    1  0.3500  0.015127
791    1  0.2000  0.050749

[792 rows x 3 columns]

In [76]:
# Split the selected data into train and test set
X_train_select, X_test_select, y_train, y_test = train_test_split(X_selected, y, random_state=42)

In [94]:
# Train and fit the model: decision tree
model_selected = RandomForestClassifier(n_estimators=100).fit(X_train_select, y_train)

<ipython-input-94-493d582e500b>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_selected = RandomForestClassifier(n_estimators=100).fit(X_train_select, y_train)

In [95]:
# Evaluate the model's accuracy
print("For Random Forest model (with selected X):")
print("Train set accuracy = " + str(model_selected.score(X_train_select, y_train)))
print("Test set accuracy = " + str(model_selected.score(X_test_select, y_test)))

For Random Forest model (with selected X):
Train set accuracy = 0.9797979797979798
Test set accuracy = 0.8232323232323232

In [79]:
test.columns

Index(['Unnamed: 0', 'PassengerId', 'Survived', 'Sex', 'Age', 'Fare',
       'Pclass_1', 'Pclass_2', 'Pclass_3', 'Family_size', 'Title_1', 'Title_2',
       'Title_3', 'Title_4', 'Emb_1', 'Emb_2', 'Emb_3'],
      dtype='object')

In [80]:
test_select = test[['Sex','Age','Fare']]

In [81]:
model_selected.predict(test_select)

array([0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0])

In [65]:
test_select

    Sex     Age      Fare
0     1  0.2000  0.050749
1     0  0.3500  0.135753
2     1  0.3500  0.059914
3     1  0.3125  0.015412
4     1  0.4875  0.025374
..  ...     ...       ...
95    1  0.3375  0.025374
96    0  0.2375  0.058556
97    0  0.3500  0.045771
98    1  0.3250  0.058556
99    1  0.4000  0.015127

[100 rows x 3 columns]